---
import { type AstroPage } from "src/scripts/models.ts";
import UnstyledBaseLayout from "src/Layouts/UnstyledBaseLayout.astro";
const result: AstroPage[] = (await Astro.glob("./*.astro")) as AstroPage[];
---

<UnstyledBaseLayout title="playground">
	<div class="main-div">
		{
			result.map((value) => {
				return <a href={value.url}>{value.title}</a>;
			})
		}
	</div>
</UnstyledBaseLayout>

<style lang="scss">
	@import "src/styles/global";
	.main-div {
		padding: 1rem $side_padding;
	}
</style>
