---
import { type AstroInstance } from "astro";
import MainLayout from "src/Layouts/MainLayout.astro";
interface pages_type extends AstroInstance {
	creation_date: Date;
	title: string;
}
const result: pages_type[] = (await Astro.glob("./*.astro")) as pages_type[];


---

<MainLayout title="playground">
{result.map((value) => {
	return <a href={value.url}>{value.title}</a>
})}
</MainLayout>
