---
import {type AstroPage } from "src/scripts/models.ts" 
import UnstyledBaseLayout from "src/Layouts/UnstyledBaseLayout.astro";
const result: AstroPage[] = (await Astro.glob("./*.astro")) as AstroPage[];

---

<UnstyledBaseLayout title="playground">
{result.map((value) => {
	return <a href={value.url}>{value.title}</a>
})}
</UnstyledBaseLayout>
