---
import { type AstroPage } from "src/scripts/models.ts";
import UnstyledBaseLayout from "src/Layouts/UnstyledBaseLayout.astro";
const result: AstroPage[] = (await Astro.glob("./*.astro")) as AstroPage[];
---

<UnstyledBaseLayout title="playground">
	<div class="main-div">
		{
		result.sort((page1, page2) => {
		//@ts-ignore
		return page1.creation_date - page2.creation_date;
		}).map((value) => {
				return (
					<div class="row-div">
						<a href={value.url}>{value.title}</a>
						<span>{value.creation_date.toLocaleDateString()}</span>
					</div>
				);
			})
		}
	</div>
</UnstyledBaseLayout>

<style lang="scss">
	@import "src/styles/global";
	.main-div {
		padding: 1rem $side_padding;
	}

	.row-div {
		display: flex;
		justify-content: space-between
	}
</style>
