$side-padding: clamp(1rem,calc((100vw - 60rem)/2),30vw);
// $color_list: (#8275bd, #fe938c, #edaf97, #a0d2db, #bee7e8);
// $color_list: (#917191, #e18080, #f1aaab)
$color_list: (#5cdbd3, #87e8de, #b5f5ec, #87e8de);
$primary_color: #fdebf3;
$secondary_color: #bc8ba1;
$third_color: #ffa6ce;
