$side-padding: clamp(1rem,calc((100vw - 60rem)/2),30vw);
// $color_list: (#8275bd, #fe938c, #edaf97, #a0d2db, #bee7e8);
// $color_list: (#917191, #e18080, #f1aaab)
$color_list: (#5cdbd3, #87e8de, #b5f5ec, #87e8de);
// $primary_color: #fdebf3;
// $primary_color: hsl(333.33, 81.82%, 95.69%);
// $secondary_color: hsl(333.06, 26.78%, 64.12%);
// $third_color: hsl(333.03, 100%, 82.55%);
$primary_color: #fdebf3;
$secondary_color: #EA4890;
$third_color: #E41B74;
