---
import MainLayout from "src/Layouts/MainLayout.astro";
import ProfileImage from "src/Components/ProfileImage.astro";
---

<MainLayout title="About">
	<ProfileImage />
	<h1>About me</h1>
	<p>
		I am a Syrian born on 26/07/2003 who is graduating from Monash on
		University in 2024 April, my passion (and job) is in Computer Science,
		this 90% of the time means Software engineer but I do hope to experience
		parts that have to do less with programming and more with other fields
		of computer science, like Security and Telecommunications.
	</p>
	<p>
		Ok, the rest will be quite informal. Writing is not one of my strong
		suits, I am mainly writing this because this is expected of me as a
		professional developer, but I never was the type to write on social
		media. so this does feel awkward to write.
	</p>
	<h1>How I got into programming</h1>
	<p>
		I have been coding somewhat seriously since I was in grade 7 (11 years
		old) using Small Basic. I do have some prior experience to that where I
		did some HTML (when I say HTML I mean all 3 of HTML, CSS and JavaScript)
		and Scratch (if that counts as a programming language). Scratch was
		because I wanted to make video games (like most children), and HTML was
		taught to me in a post-school programming club that my parents made me
		go to, I was not that interested in HTML but I did have a lot of fun
		with Scratch. For Small Basic, that was taught in the school's IT class
		(like, we were examined on it). So I did talk about it more seriously
		and this was my first experience with a text-based procedural language
		(I did not do much JavaScript and Scratch used building blocks).
	</p>
	<p>
		Fast forward to grade 8 where the school was advertising buying books
		from this bookstore called scholastic (I believe they were doing this
		because they were receiving a small cut of the revenue). So my father
		decided that each one of us (me and my siblings), should get a book, I
		chose <a
			href="https://www.amazon.com/s?k=9781407164984&i=stripbooks&linkCode=qs"
			target="_blank"
			rel="noopener noreferrer"
			>Coding Unlocked: Scratch and Python: the basics</a
		>, now this book won't teach you much programming but it did get me
		interested in the Python programming language. So I learned it using
		free online resources (mainly YouTube).
	</p>
</MainLayout>
