---
import MainLayout from "src/Layouts/MainLayout.astro";

---

<MainLayout title="Fadi Alailan">
	<div class="color-loop">
		<p>1</p>
		<p>2</p>
		<p>3</p>
		<p>4</p>
		<p>5</p>
		<p>6</p>
	</div>
</MainLayout>

<style>
	$color_count: 3;

	.color-loop p:nth-child($(color_count)n + 1) {
		background-color: purple;
	}
</style>
