---
import MainLayout from "src/Layouts/MainLayout.astro";
---

<MainLayout title="Fadi Alailan">
	<div class="color-loop">
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
	</div>
</MainLayout>

<style lang="scss">
	$color_list: (#ff0000, #00ff00, #0000ff);

	.color-loop {
		& div {
			margin: 0;

			@for $i from 1 through length($color_list) {
				&:nth-child(#{length($color_list)}n + #{$i}) {
					background-color: nth($color_list, $i)
				}
			}
		}
	}

</style>
