---
// const home_url = import.meta.env.BASE_URL + "/"
// const about_url = import.meta.env.BASE_URL + "/about"
import { home_url, about_url, cv_url, contact_url } from "src/scripts/links";
---

<nav>
	<ul>
		<li><a href={home_url}>Home</a></li>
		<li><a href={about_url}>About</a></li>
		<li><a href={contact_url}>Contact</a></li>
		<li>
			<a href={cv_url} target="_blank" rel="noopener noreferrer">CV</a>
		</li>
	</ul>
</nav>

<style lang="scss">
	@import "src/styles/global";

	nav {
		padding: 0.1px $side-padding;
		display: flex;
		justify-content: space-between;

		ul {
			list-style: none;
			display: inline-block;
			li {
				display: inline-block;
				padding: 0.1px 1rem;
				a {
					color: black;
					text-decoration: inherit;

					&:hover {
						color: blue;
					}
				}
			}
		}
	}
</style>
