---
import { type AstroProjectPage } from "src/scripts/models.ts";
export interface Props {
	project_page: AstroProjectPage;
}

const { project_page } = Astro.props;
---

<a href={project_page.url}>
	<h2>{project_page.title}</h2>
	<p>{project_page.description}</p>
</a>

<style lang="scss">
	@import "src/styles/global";

	a {
		color: black;
		text-decoration: inherit;
		display: block;

		margin: 1rem;
		padding: 0.1rem 2rem;
		
		background: $primary_color3;
		@media (prefers-reduced-motion:no-preference) {
		transition-property: background, border-radius, scale;
		transition-duration: 500ms;
		}
		border-radius: 1rem;
		&:hover {
			@media (prefers-reduced-motion:no-preference) {
				scale: 1.2;
			}
			background: $primary_color4;
		}
	}

</style>
